/*----- GOOGLE FONTS -----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
/*----- COMMON STYLE -----*/
body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
 /*------------------
  REUSABLE STYLE
 --------------------- */
 section{
     margin-bottom: 100px;
 }
 nav,main,footer{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .container{
     width:1100px;
 }
 .section-title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin:30px 0;
    color:#3A3A3A;
}
/*---------------- 
 HEADER SECTION STYLE 
--------------------------*/
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color:#3A3A3A;
    font-weight:700;
    font-size: 20px;

}
.main-menu ul{
    display: flex;
    align-items: center;
}
.main-menu ul li,.icon{
    list-style: none;
    margin-right:34px;
}
.main-menu ul li a,.icon{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}
/*-----------------
 INFLUENCER SECTION 
 -------------------------*/
 .influencer-section{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin-top: 60px;
 }
.influencer{
     width:55%;
 }
 .influencer h1{
     font-size: 40px;
     font-weight: 700;
     color:#3A3A3A;
     margin-bottom: 0px;
 }
 .influencer p{
    font-size: 16px;
    font-weight: 600;
    color:#3A3A3A;
    margin-bottom: 30px;
}
 .section-btn a{
     font-size: 16px;
     color:#ffffff;
     font-weight: 600;
     background-color:#E02C6D;
     padding: 15px 20px;
     border-radius: 40px;
     transition: .3s;
 }
 .fa-arrow-right{
    color: #ffffff;
    margin-left: 5px;
    font-size: 13px;
    transition: .3s;
}
.section-btn a:hover{
    border:1px solid #E02C6D;
    color:#E02C6D;
    background-color: #ffffff;
}
 .section-btn a:hover .fa-arrow-right{
    color:#E02C6D;
 }
.main-camera-photo{
    width:45%;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: 95%;
} 
/* transform used required */
.main-camera-photo img{
    transition: transform .5s;
}
.main-camera-photo img:hover{
    transform: scale(1.2);
}
/*--------------------- 
EXPERTISE SECTION  
---------------------*/
.expertise-logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding: 40px;
}
/*-------------------------
 POPULER COLLECTION STYLE
 -------------------------*/
 .collections{
     display: grid;
     grid-template-columns:repeat(3,1fr);
     grid-gap: 25px;
     justify-items: center;
 }
 .single-collection{
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 }
 .collection-title{
    font-size: 24px;
    font-weight: 600;
    color: #18191F;
    margin:16px 0 6px 0;
 }
  .collection-img span{
     font-size: 24px;
     font-weight: 400;
     color:#18191F
 }
 .prodect-info .fa-star{
     color:#FB8200;
     font-size: 11px;
 }
 .prodect-info .empty{
     color:#AEAEAE;
 }
 .prodect-info span{
     font-size: 14px;
     color:#AEAEAE;
 }
 .prodect-info p{
     color:#787885;
     margin:7px 0;
     font-size: 14px;
     font-weight: 500;
 }
 .see-more{
     text-align:right;
     margin-top: 20px;
 }
 .see-more a,
 .see-more .fa-arrow-right{
     color:#E02C6D;
     font-size: 13px;
     font-weight: 700;
 }
/*----------------------
 CONTANT-US SECTION 
 -------------------------*/
 .contact-section{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 40px;
 }
.contact-us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contact-us h3,p{
    color:#3A3A3A
}
.contact-us-form{
    width: 50%; 
}
.our-identity{
    width:50%;
}
.contact-us-form input{
    width:100%;
    padding: 15px;
    margin-bottom: 5px;
    border:none;
    border-bottom: 1px solid #E02C6D;
    font-size: 16px;
}
.sing-btn button{
    padding: 10px 60px;
    background-color: #E02C6D;
    color:#ffffff;
    border:none;
    border-radius: 4px;
}
.sing-btn{
    text-align: center;
    margin-top: 25px;
}
 /*----------------------
  FOOTER SECTION STYLE  
 --------------------------*/
 footer{
     background-color: #0A0826;
     padding: 20px 0;
 }
 .footer-section{
     text-align: center;
     color:#FFFFFF;
 }
 .footer-section h3{
     margin:0;
     font-size: 24px;
     font-weight: 700;
 }
 .footer-section p{
     margin: 5px ;
     font-size: 14px;
     color:#D9DBE1;
 }
 .sociol-icon ul{
     display: flex;
     justify-content:center;
     padding-left: 0;
 }
 .sociol-icon ul li{
    list-style: none;
    width:20px;
    height: 20px;
    border-radius: 50%;
    padding:8px;
    margin:5px;
    background-color:rgba(221, 221, 221, 0.384);
 }
 .sociol-icon .fab{
     color:#ffffff;
 }
 /*-------------------------------------------------------
  @MEDIA QUARIES SECTION AND CREATE RESPONSIVE FOR MOBAILE
  ---------------------------------------------------------*/
@media only screen and (max-width:688px) {
    .container{
        width:100%;
    }
    /* nav-section */
    .nav-section,.main-menu ul{
        flex-direction: column;
    }
    .main-menu ul li,.icon{
        margin-bottom: 15px;
    }
    /* influencer-section */
    .influencer-section{
        flex-direction: column;
    }
    .influencer{
        width:100%;
        order:2;
    } 
    .influencer h1{
        font-size: 25px;
        text-align: center;
    }
    .influencer p{
        font-size: 13px;
        text-align: center;
    }
    .section-btn{
        text-align: center;
    }
    .main-camera-photo{
        width:100%;
        order:1;
    }
    .main-camera-photo img{
        width:100%;
        margin-bottom: 40px;
    }
    /* collection section  */
    .collections{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        grid-row-gap: 15px;
        justify-items: center;
    }
    /* contact-us */
    .contact-us{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    /* expertise-logo */
    .expertise-logo{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        padding: 20px;
    }
    .expertise-logo img{
        width:60%;
        margin-bottom: 20px;
    }
    .see-more{
        text-align:center;
        margin-top: 20px;
    }
}
/*-----------------------------
 CREATE RESPONSIVE FOR TABLET 
-------------------------------*/

@media only screen and (min-width:689px) and (max-width:992px) {
    .container{
        width:100%;
    }
    /* nav-section */
    .nav-section,.main-menu ul{
        flex-direction: row;
        justify-content: center;
    }
    .main-menu ul li,.icon{
        margin-bottom:0;
    }
    /* influencer-section */
    .influencer-section{
        flex-direction: row;
    }
    .influencer,
    .main-camera-photo{
        width:100%;
    }
    .main-camera-photo img{
        width:100%;
    } 
    .influencer h1{
        font-size:20px;
    }
    .influencer p{
        font-size: 14px;
    }
    /* expertise-logo */
    .expertise-logo{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        justify-items: center;
        padding: 20px;
    }
    .expertise-logo img{
        width:60%;
        margin-bottom: 20px;
    }
       /* collection section  */
    .collections{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-row-gap: 15px;
        justify-items: center;
    }
    .single-collection:nth-child(9){
        display: none;
    }
    .see-more{
        text-align:center;
        margin-top: 30px;
    }
}
/* END OF MY CODE */